apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress
spec:
  tls:
  - hosts:
    # Change this to your own domain
    - staging.demo.example.net
    secretName: secret-staging-demo

